.popup {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  place-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
}

#tooltip {
  /* width: 300px; */
  padding: 0.3em;
  border-radius: 8px;
  /* background-color: #1a1a1a; */
  /* box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); */
  height: 40px;
  min-height: 30px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  /* flex-direction: row; */
  /* gap: 10px; */
  display: inline-flex;
  align-items: stretch;
  /* height: 32px; */
  /* background: rgb(37, 37, 37); */
  background-color: #1a1a1a;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.2;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.2) 0px 3px 6px, rgba(15, 15, 15, 0.4) 0px 9px 24px;
  /*pointer-events: auto;
	position: absolute;*/
}

.btn-action {
  color: white;
  height: 100%;
  background-color: #535bf2;
}

.btn-close {
  color: white;
  height: 100%;
  background-color: #ff5f56;
  margin-left: auto;
}

.select-font {
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #646cff;
  background-color: #1a1a1a;
  color: #646cff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.comment {
  color: inherit;
  border-bottom: 2px solid rgb(58 179 252);
  word-wrap: break-word;
  font-weight: 600;
  background: rgb(0 214 255 / 14%);
  padding-bottom: 2px;
  cursor: pointer;
}

.comment:hover {
  background: rgb(0 214 255 / 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.select {
  background-color: #201e1e;
  padding: 20px;
  color: #fff;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list {
  width: 100%;
  background-color: #1a1a1a;
  border-radius: 8px;
  margin-top: 14px;
  padding: 10px;
  transition: 0.4s linear 0.2s;
  display: none;
  flex-direction: column;
}

.option {
  padding: 8px 0;
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.option:hover,
.option.selected {
  color: #00a8ff;
}

.options-list::-webkit-scrollbar {
  width: 4px;
  background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb {
  background-color: #151414;
}

.options-list.active {
  display: flex;
}

.option-color {
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: #fff;
  background-color: #fff;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.option-color:hover {
  transform: scale(1.3);
}

.diagonal-line {
  width: 38px;
  height: 35px;
  border-top: 2px solid red;
  transform: rotate(310deg);
}

.edit-textarea {
  font-size: medium;
  line-height: 1.5;
  padding: 15px 10px;
  border: 5px solid rgba(var(--white), 1);
  color: rgba(var(--white), 0.1);
  background: rgba(255, 255, 255, 0.082);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

textarea:focus {
  /*background-color: rgba(255, 255, 255, 0.134);*/
  transform: scale(1.02);
  outline: none; /* Remove a borda de foco */
  box-shadow: none;
}

.tooltip-enable {
  display: flex;
}

.tooltip-desable {
  display: none !important;
}
